.App {
  text-align: center;
  min-height: 100vh;
}

button {
  border: none;
  width: 200px;
  height: 30px;
  margin: 5px;
  background-color: lightsteelblue;
  border-radius: 10px;
}

.nav-active {
  background-color: lightseagreen;
  color: darkblue
}

a {
  text-decoration: none;
  color: lightseagreen
}